<header class="header">
  <div class="container">
    <div class="logo-nombre">
      <figure class="logo">
        <img src="assets/Public/resources/logo.png" alt="logo">
      </figure>
      <div class="title_logo">
        <h1>BELEN'S</h1>
        <p>Eventos</p>
      </div>
    </div>
    <nav class="menu">
      <ol>
        <li><a routerLink="/inicio" class="link">INICIO</a></li>

        <li class="link">
          <a class="link" href="#paquetes">PAQUETES</a>
        </li>
        <li><a class="link" href="#empresa">EMPRESA</a></li>
        <li><a routerLink="/salones" class="link">EVENTOS</a></li>
        <li><a ngNativeValidate class="link" href="#promociones">PROMOCIONES</a></li>

        <li>
          <a class="link" href="#servicios">SERVICIOS</a>
          <ul class="sub_menu">
            <li><a href="#">Alquiler de Salones</a></li>
            <li><a href="#">Alquiler de Moboliario</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Servicio de Bar</a></li>
            <li><a href="#">Atencion a Comedores</a></li>
          </ul>
        
        </li>
        <li><a class="link" href="#contacto">CONTACTO</a></li>
        
        <!-- <ul>

                    <li><button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary">Secondary</button></li>
                    <li>
                          
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-secondary">Secondary</button>

                    </li>
                </ul> -->
      </ol>
    </nav>
  </div>

  <div>
    <a href="#" class="btn btn-outline-light" style="margin: 10px 0px;" data-toggle="modal"
      data-target="#modalRegistro">Registrarse</a>
    <a href="#" class="btn btn-outline-light" data-toggle="modal"
      data-target="#modalLogin">Inicias Secion</a>
  </div>
  <a href="#">
    <img src="assets/Public/icons/add-to-cart.png" alt="carrito" style="margin: 0 20px; height: 40px;">

  </a>

</header>
