<header class="header">
  <div class="container">
    <div class="logo-nombre">
      <figure class="logo">
        <img src="assets/Public/resources/logo.png" alt="logo">
      </figure>
      <div class="title_logo">
        <h1>BELEN'S</h1>
        <p>Eventos</p>
      </div>
    </div>
    <nav class="menu">
      <ol>
        <li><a class="link" href="./index.html">INICIO</a></li>
        <li class="link">
          <a class="link" href="#">SALONES</a>
          <ul class="sub_menu">
            <li><a href="#">xasdasdsads1</a></li>
            <li><a href="#">x2</a></li>
            <li><a href="#">x3</a></li>
            <li><a href="#">x4</a></li>
            <li><a href="#">x5</a></li>
          </ul>
        </li>
        <li><a class="link" data-scroll href="#empresa">EMPRESA</a></li>
        <li><a class="link" data-scroll href="#eventos">EVENTOS</a></li>
        <li><a class="link" href="#promociones">PROMOCIONES</a></li>
        <li><a class="link" href="#servicios">SERVICIOS</a></li>
        <li><a class="link" href="#contacto">CONTACTO</a></li>
        <!-- <ul>

                    <li><button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary">Secondary</button></li>
                    <li>
                          
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-secondary">Secondary</button>

                    </li>
                </ul> -->
      </ol>
    </nav>
  </div>
  <a href="#" class="btn btn-outline-light" style="margin-right: 15px;" data-toggle="modal"
    data-target="#modalRegistro">Registrarse</a>
  <a href="#" class="btn btn-outline-light" style="margin-right: 15px;" data-toggle="modal"
    data-target="#modalLogin">Inicias Secion</a>
  <a href="#">
    <img src="assets/Public/icons/add-to-cart.png" alt="carrito" style="margin: 0 40px; height: 40px;">

  </a>

</header>
