<header class="header">
  <div class="container">
    <a routerLink="/inicio">
      <div class="logo-nombre">
        <figure class="logo">

          <img src="assets/Public/resources/logo.png" alt="logo">
        </figure>
        <div class="title_logo">
          <h1>BELEN'S</h1>
          <p>Eventos</p>
        </div>
      </div>
    </a>
    <nav class="menu">
      <ol>
        <li><a routerLink="/inicio" class="link">INICIO</a></li>

        <li class="link">
          <a href="#paquete" class="link">PAQUETES</a>
        </li>
        <li><a class="link" href="#empresa">EMPRESA</a></li>
        <li><a class="link" href="#eventos">EVENTOS</a></li>
        <li><a ngNativeValidate class="link" href="#promocion">PROMOCIONES</a></li>

        <li class="sub_servicio">
          <a class="link" href="#servicios">SERVICIOS</a>
          <ul class="sub_menu">
            <li><a routerLink="/salones">Alquiler de Salones</a></li>
            <li><a routerLink="/mobiliario">Alquiler de Moboliario</a></li>
            <li><a routerLink="/catering">Catering</a></li>
            <li><a routerLink="/bar">Servicio de Bar</a></li>
            <li><a routerLink="/comedores">Atencion a Comedores</a></li>
          </ul>

        </li>
        <li><a class="link" href="#contacto">CONTACTO</a></li>

        <!-- <ul>

                    <li><button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary">Secondary</button></li>
                    <li>
                          
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-secondary">Secondary</button>

                    </li>
                </ul> -->
      </ol>
    </nav>
  </div>

  <div [ngClass]="ocultarBoton">
    <a href="#" class="btn btn-outline-light" style="margin: 10px 0px;" data-toggle="modal"
      data-target="#modalRegistro">Registrarse</a>
    <a href="#" class="btn btn-outline-light" data-toggle="modal" data-target="#modalLogin">Inicias Secion</a>
  </div>
  <!-- [ngClass]="ocultarPerfil" -->
  <div *ngIf="(ocultarBoton.length>3)" class="header__menu" >
  <div class="header__menu--profile">
      <img src="assets/Public/user-white.png" alt="user">
      <p>Perfil</p>
    </div>
    <ul>
      <li><a href="#">{{correo}}</a></li>
      <li><a (click)="_usuarioServices.logout()" href="#">Cerrar Sesión</a></li>
    </ul>
  </div>



  <div class="carrito">
    <div class="notification" id="notification" ></div>
    <a (click)="irCarrito()">
      <img src="assets/Public/icons/add-to-cart.png" alt="carrito" style="margin: 0 20px; height: 40px;">
  
    </a>
  </div>

</header>
<!-- caroucel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2" id="paquete"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Public/images carousel/IMG_7432.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block caroucel_content">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Public/images carousel/IMG_3236.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block caroucel_content">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/Public/images carousel/20102019-IMG_0745.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block caroucel_content">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- end caroucel -->

<!-- social -->
<div class="social-top" id="s1">
  <ul class="list-social">
    <li>
      <a href="#"><img src="assets/Public/social/facebook.png" alt="facebook" height=40px></a>
    </li>
    <li>
      <a href="#"><img src="assets/Public/social/instagram.png" alt="instagram" height="40px"></a>
    </li>
    <li>
      <a href="#"><img src="assets/Public/social/twitter.png" alt="twitter" height="40px"></a>
    </li>
    <li>
      <a href="#"><img src="assets/Public/social/github.png" alt="github" height="40px"></a>
    </li>
  </ul>
</div>
<!-- end social -->

<!-- titulo Paquetes -->
<section id="about" class="paquetes">
  <div class="container container_paquetes_titulo">
    <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s" data-sr-init="true"
      data-sr-complete="true">
      <div class="header-text">
        <div class="header-shadow-text">PAQUETES</div>
        <h1>PAQUETES</h1>
        <p>NUESTROS PAQUETES HABLAN POR SI SOLOS.
          NAVEGUE Y COMPRUÉBELO UD. MISMO
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end titulo Paquetes -->



<!-- GRID PAQUETES -->
<section class="servicios" style="padding-top: 128px; margin-bottom: -155px;">
  <div class="container">
    <div class="container_servicios">
      <div class="item level-3">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/adorno2.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete de Mobiliario</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
              <!-- <a id="buttonCarrito" class="btn btn-primary btn primary">Añadir al Carrito</a> -->

              <div class="text-center">
                <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
              </div>


            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
      <div class="item level-2">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/comida3.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete Catering</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                <div class="text-center">
                  <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
                </div>
  
            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
      <div class="item level-1">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/15Años.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete Manteleria</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                <div class="text-center">
                  <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
                </div>
  
            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
      <div class="item level-2">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/PlanBouquet.jpeg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete Buffet</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                <div class="text-center">
                  <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
                </div>
  
            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
      <div class="item level-2">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/SalonP.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete Musica</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                <div class="text-center">
                  <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
                </div>
  

            </div>
          </div>
          <!-- Card -->
        </div>
      </div>

      <div class="item level-3">
        <div class="card mb-3">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/Public/Imagenes Paquetes/dj.webp"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Paquete Mobiliario</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                <div class="text-center">
                  <button routerLink="/paquetes" type="button" class="btn btn-secondary  todo">Ver mas...</button>
                </div>
  
            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">

      <div class="text-center">
        <button routerLink="/paquetes" type="button" class="btn btn-secondary btn-lg todo">VER TODOS LOS
          PAQUETES</button>
      </div>

    </div>
  </div>
</section>
<!-- END GRID PAQUETES -->


<!-- aserca de nosotros -->
<section class="nosotros" id="empresa">
  <div class="container">
    <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s" data-sr-init="true"
      data-sr-complete="true">
      <div class="header-text">
        <div class="header-shadow-text">Acerca de Nosotros</div>
        <h1>Acerca de Nosotros</h1>
        <p>PLANIFICACIÓN, ORGANIZACIÓN Y COORDINACIÓN DE EVENTOS SOCIALES: BODAS, QUINCEAÑEROS, CUMPLEAÑOS,
          ANIVERSARIOS, ENTRE OTROS.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="wpb_wrapper ">
          <div class="about-what-we-do" data-scrollreveal="enter bottom and move 150px over 1s" data-sr-init="true"
            data-sr-complete="true">
            <div class="icon-left1 icon"><img src="assets/Public/icons/calendar.png" alt="calendario">
              <h5 class="card-title">PLANIFICACIÓN.</h5>
            </div>
            <p></p>
            <p>Ofrecemos opciones y soluciones para cada necesidad. Ana María tiene espacios
              encantadores, catering, coordinamos las invitaciones, música, fotografía, video,
              ambientación y decoración, shows, regalos… en fin, nos encargamos de todo.</p>
            <p></p>
          </div>


        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="wpb_wrapper ">

          <div class="about-what-we-do" data-scrollreveal="enter bottom and move 150px over 1s" data-sr-init="true"
            data-sr-complete="true">
            <div class="icon-left1 icon"><img src="assets/Public/icons/team.png" alt="calendario">
              <h5>ORGANIZACIÓN.</h5>
            </div>

            <p></p>
            <p>Hacemos que su imaginación tome forma y que su evento sea real. Cada celebración está
              perfectamente organizada para que todo suceda como usted lo había pensado.</p>
            <p></p>
          </div>


        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="wpb_wrapper ">

          <div class="about-what-we-do" data-scrollreveal="enter bottom and move 150px over 1s" data-sr-init="true"
            data-sr-complete="true">
            <div class="icon-left1 icon"><img src="assets/Public/icons/puzzle.png" alt="calendario">
              <h5>COORDINACIÓN.</h5>
            </div>
            <p></p>
            <p>Trabajamos con gran dedicación enfocados en la perfección para que los anfitriones logren
              sus objetivos y más!</p>
            <p></p>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- end aserca de nosotros -->


<!-- quienes somos -->
<section class="event_list">
  <figure class="cordinadora">
    <img src="assets/Public/resources/COORDINADORA.jpg" alt="">
  </figure>
  <div class="container">
    <div class="nine">
      <p></p>
      <h5>QUIENES SOMOS.</h5>
      <p>ANA MARÍA tiene sus orígenes en las talentosas manos de la reconocida chef Ana
        María Westermann Añez de Aguilera, quien desde 1985 comenzó a ofrecer el
        servicio de catering para eventos. La calidad del mismo hizo ganar prestigio y
        reconocimiento en la sociedad cruceña.</p>
      <p>Su familia acompañó el emprendimiento con el compromiso y colaboración de algunas
        tareas que permitían atender al creciente número de clientes que requerían sus
        servicios. Desde el año 2008, sus hijos Leonardo y Javier asumieron la
        administración de la empresa otorgándole mayor dinamismo con la apertura de dos
        salones para eventos y la ampliación de sus servicios, manteniendo el sabor y
        principios con los que empezaron.</p>
      <p>Somos una empresa que ofrece servicios integrales para la realización de toda
        clase de eventos sociales, empresariales e institucionales.
      </p>
    </div>
    <div class="clear"></div>
    <div class="nine columns" data-scrollreveal="enter right and move 150px over 1s" data-sr-init="true"
      data-sr-complete="true">
      <p></p>
      <h5>MISIÓN.</h5>
      <p>Lograr que el cliente sea el anfitrión de su evento, sin mayores preocupaciones;
        mientras sus invitados disfrutan de la experiencia de ser bien atendidos.
      </p>
    </div>
    <div class="clear" id="eventos"></div>
    <div class="nine columns">
      <p></p>
      <h5>VISIÓN.</h5>
      <p>Ser la empresa líder en provisión de servicios integrales para eventos sociales,
        empresariales e institucionales.<br>
      </p>
    </div>
  </div>
</section>
<!--end quienes somos -->

<!-- titulo Eventos -->
<section id="about" class="paquetes">
  <div class="container container_paquetes_titulo">
    <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s" data-sr-init="true"
      data-sr-complete="true">
      <div class="header-text">
        <div class="header-shadow-text">EVENTOS</div>
        <h1>EVENTOS</h1>
        <p>NOSOTRO PAQUETES HABLAN POR SI SOLOS.
          NAVEGUE Y COMPRUÉBELO UD. MISMO
        </p>
      </div>
    </div>
  </div>
</section>
<!--end titulo Eventos -->



<!-- carousel -->

<section class="carousel_eventos scrollesp" id="s1">
  <div class="corousel_eventos_container">
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/evento-cumpleanios-1024x1024.jpg" alt="cumpleaños">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/gift.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">CUMPLEAÑOS</p>
      </div>
    </div>
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/evento-quinceaniera-1024x1024.jpg" alt="15 años">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/balloons.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">15 AÑOS</p>
      </div>
    </div>
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/evento-coporativos-1024x1024.jpg" alt="15 años">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/portfolio.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">CORPORATIVO</p>
      </div>
    </div>
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/evento-bodas-1024x1024.jpg" alt="boda">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/diamond.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">BODA</p>
      </div>
    </div>
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/evento-aniversario-1024x1024.jpg" alt="aniversario">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/wedding.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">ANIVERSARIOS</p>
      </div>
    </div>
    <div class="carousel_eventos-item">
      <img class="carousel-item__img" src="assets/Public/resources/78348660_120311709416883_9078808003221651456_o.jpg"
        alt="15 años">
      <div class="carousel_eventos-item__details">
        <div>
          <img src="assets/Public/icons/wine.png" alt="play">
        </div>
        <p class="carousel_eventos-item__title" style="font-size: 20px;">FIESTA</p>
      </div>
    </div>
  </div>
</section>
<!--end carousel -->
<div class="col text-center text-uppercase empezar" id="promocion">
  <h4>¿LISTOS PARA INICIAR?</h4>
  <small>¿Cuántas veces soñaste con hacer una fiesta inolvidable, de esas que amigos y familiares hablan y
    recuerdan en cada reunión ¿Cuántas veces imaginaste esa noche mágica?</small>
</div>
<section id="about" class="paquetes">
  <div class="container">
    <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s" data-sr-init="true"
      data-sr-complete="true">
      <div class="header-text">
        <div class="header-shadow-text">PROMOCIONES</div>
        <h1>PROMOCIONES</h1>
        <p>ENTÉRATE DE TODAS NUESTRAS PROMOCIONES
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Speakers -->
<section id="speakers" class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/Public/resources/ESCOBAR-BOOK-CRUDO-10-Custom.jpg" height="300px"
            alt="foto de ">
          <div class="card-body">
            <div class="badges">
          
              <span class="badge badge-info">Promo</span>
            </div>
            <h5 class="card-title">TU EVENTO CON BELEN'S EVENTOS AL MEJOR PRECIO</h5>
            <p class="card-text">Tu evento con Belen's Eventos al mejor estilo y al mejor precio ...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img id="imgEs" class="card-img-top"
            src="assets/Public/resources/70433314_121609422552946_5902380917019639808_n.jpg" height="300px"
            alt="foto de ">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-info">Promo</span>
            </div>
            <h5 class="card-title">CRÉDITO PARA TU BODA</h5>
            <p class="card-text">Averigua sobre nuestros paquetes a crédito y celebra tu boda en SALONES
              BELEN'S Contáctanos ...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/Public/resources/71197577_114532876602249_9146291104902021120_n.jpg"
            height="300px" alt="foto de ">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-info">Promo</span>
            </div>
            <h5 class="card-title">NOCHE DE BODAS COMPLETAMENTE GRATIS!</h5>
            <p class="card-text">Salones Belen's Eventos, atiende solicitudes de crédito directo, sin
              Bancos, ni Cooperativas) de Lunes a Sábado desde las 10 am ...</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-1 col-md-1 col-lg-4 mb-1">
                        <div class="card">
                            <img class="card-img-top" src="assets/Public/resources/71197577_114532876602249_9146291104902021120_n.jpg" alt="foto de ">
                            <div class="card-body">
                                <div class="badges">
                                    <span class="badge badge-warning">JavaScript</span>
                                    <span class="badge badge-info">React</span>
                                </div>
                                <h5 class="card-title"><a href="">NOCHE DE BODAS COMPLETAMENTE GRATIS!</a></h5>
                                <p class="card-text">Salones Belen's Eventos, atiende solicitudes de crédito directo, sin Bancos, ni Cooperativas) de Lunes a Sábado desde las 10 am ...</p>
                            </div>
                        </div>
                    </div> -->

    </div>
  </div>
</section>
<!-- END-Speakers -->

<div class="row" id="servicios">
  <div class="col-12">

    <div class="text-center">
      <button routerLink="/promociones" type="button" class="btn btn-secondary btn-lg todo">VER TODAS LAS
        PROMOCIONES</button>
    </div>

  </div>
</div>

<!-- <div id="servicios" class="container container_botton">
  
</div> -->

<section class="paquetes" style="padding-bottom: 150px; padding-top: 60px;">
  <div class="container">
    <div class="sixteen columns">
      <div class="header-text">
        <div class="header-shadow-text">SERVICIOS</div>
        <h1>SERVICIOS</h1>
        <p>SOLO ECHA UN VISTAZO A TODAS LAS LISTAS DE SERVICIO POR DEBAJO DE OBTENER UNA IDEA GENERAL DE LO QUE
          SOMOS CAPACES DE ENTREGAR </p>
      </div>
    </div>
  </div>
</section>

<!-- GRID SERVICIOS -->
<section class="servicios">
  <div class="container">
    <div class="container_servicios">
      <div class="item level-1">

        <a routerLink="/salones" href="#">
          <div class="card text-white  mb-3 servicio">
            <div class="card-header servicios_icon">
              <img class="" src="assets/Public/icons/diamond2.png" alt="15 años">
            </div>
            <div class="card-body">
              <h5 class="card-title">ALQUILER DE SALONES</h5>
              <p class="card-text">Contamos con amplios y modernos salones para la realización de eventos
                sociales, empresariales e institucionales. Nuestras cómodas instalaciones se adaptan a
                distintas alternativas de equipamiento y decoración.

                “Sabemos que cada evento es especial y único y nuestra prioridad es que se ejecute con
                responsabilidad y profesionalismo en un ambiente seguro y agradable”.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="item level-2">
        <a routerLink="/moboliario" href="#">

          <div class="card text-white  mb-3 servicio">
            <div class="card-header servicios_icon">
              <img class="" src="assets/Public/icons/cocktail.png" alt="15 años">
            </div>
            <div class="card-body">
              <h5 class="card-title">MOBILIARIO</h5>
              <p class="card-text">Mobiliario (vajilla, puf, lounge, mesas, sillas, mantelería,
                cubertería,
                cristalería, etc.) <br>

                Somos especialistas en los servicios de alquiler de mobiliario para eventos de cualquier
                tipo ya sean estos pequeños y/o grandes.<br><br>



                Contamos con la logística necesaria para asumir cualquier desafío si de eventos se
                trata,
                con los mejores equipos para dar un servicio de calidad cómodamente a más de 5.000
                personas,
                con amplia cobertura a nivel provincial y local.

                “La puntualidad, el servicio personalizado y la excelencia son los puntos principales
                con
                los que trabaja nuestra empresa”.
              </p>
            </div>
          </div>
        </a>

        <div class="card text-white  mb-3 servicio">

          <div class="card-header servicios_icon">
            <img class="" src="assets/Public/icons/ok.png" alt="15 años">
          </div>
          <div class="card-body">
            <h5 class="card-title">EXELENTE SERVICIO</h5>
            <p class="card-text">Contamos con la logística necesaria para asumir cualquier desafío si de
              eventos se trata, con los mejores equipos para dar un servicio de calidad cómodamente a
              más
              de 5.000 personas, con amplia cobertura a nivel provincial y local.<br><br>

              “La puntualidad, el servicio personalizado y la excelencia son los puntos principales
              con
              los que trabaja nuestra empresa”.
            </p>
          </div>
        </div>
      </div>
      <div class="item level-3">
        <a routerLink="/catering" href="#">
          <div class="card text-white  mb-3 servicio">
            <div class="card-header servicios_icon">
              <img class="" src="assets/Public/icons/cooking.png" alt="15 años">
            </div>
            <div class="card-body">
              <h5 class="card-title">CATERING</h5>
              <p class="card-text">Buffet Nacional e Internacional
                Bocaditos dulces y salados
                Plato servido
                Buffet Chino
                Buffet de pastas
                Tablas y mesas de quesos
                Paella y otros especiales
                “Sabemos que el éxito de cualquier evento es la suma de muchos detalles y una parte
                importante es el servicio de catering”.

                “Nuestros 33 años de experiencia nos respaldan para ayudarle a conseguir el mejor
                resultado”.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="item level-1">
        <a routerLink="/bar" href="#">
          <div class="card text-white  mb-3 servicio">
            <div class="card-header servicios_icon">
              <img class="" src="assets/Public/icons/bar.png" alt="15 años">
            </div>
            <div class="card-body">
              <h5 class="card-title">SERVICIO DE BAR</h5>
              <p class="card-text">Barra caribeña
                Gaseosas
                Aguas
                Vinos
                Whisky
                Jugos naturales
                Cerveza
                Aperitivos, etc.
                El servicio de bebidas es de vital importancia, se deben seguir ciertas normas para su
                desarrollo, así como de disponer una serie de conocimientos. Deben ser cuidadosamente
                preparados y con las medidas exactas de cada ingrediente, al mismo tiempo la cristalería
                debe acompañar el aperitivo.

                Elegir la bebida que acompaña cada comida es primordial, sirviéndola en su temperatura
                adecuada hará que se disfrute de un verdadero manjar.

                En Ana María tomamos en cuenta todos estos detalles, como la conservación, temperatura,
                el
                transporte y correcto servicio de las bebidas, a fin de ofrecer un servicio impecable.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="item level-2">
        <a routerLink="/comedores" href="#">
          <div class="card text-white  mb-3 servicio">
            <div class="card-header servicios_icon">
              <img class="" src="assets/Public/icons/winner.png" alt="15 años">
            </div>
            <div class="card-body">
              <h5 class="card-title">ATENCIÓN A COMEDORES</h5>
              <p class="card-text">Nuestros chef tienen la mejor capacitación y experiencia necesaria para
                atender el comedor de tu empresa.<br><br>

                ¡SOMOS LO QUE COMEMOS!<br><br>

                Un desayuno, almuerzo o merienda sano y nutritivo re-energiza el cuerpo y la mente justo
                en
                los momentos del día que la eficiencia y la concentración están bajando.

                Según un estudio realizado por la Organización Internacional del Trabajo, la mala
                alimentación reduce hasta un 20% la productividad laboral.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- END GRID SERVICIOS -->
<section class="paquetes">
  <div class="container" id="contacto">
    <div class="sixteen columns" id="title_contact">
      <div class="header-text">
        <div class="header-shadow-text">CONTACTENOS</div>
        <h1>CONTACTENOS</h1>
        <p>CREAMOS LOS MEJORES EVENTOS. </p>
      </div>
    </div>
  </div>
</section>


<!-- Modales -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Iniciar Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form ngNativeValidate #l="ngForm" (ngSubmit)="ingresar(l)">
          <div class="form-group">
            <label for="exampleInputEmail1">Correo de Usuario</label>
            <input ngModel name="email" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
            <!-- <small id="emailHelp" class="form-text text-muted">El nombre del usuario es obligatorio</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1" required>
          </div>
          <div class="alert alert-warning" role="alert">
            Todos los campos son obligatorios
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sertec">Iniciar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Registrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form ngNativeValidate #f="ngForm" (ngSubmit)="registrarse(f)">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre de Usuario</label>
            <input ngModel name="nombre" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
            <!-- <small id="emailHelp" class="form-text text-muted">El nombre del usuario es obligatorio</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electronico</label>
            <input ngModel name="email" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
            <!-- <small id="emailHelp" class="form-text text-muted">El nombre del usuario es obligatorio</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero de telefono</label>
            <input ngModel name="telefono" type="number" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
            <!-- <small id="emailHelp" class="form-text text-muted">El nombre del usuario es obligatorio</small> -->
          </div>
          <div class="alert alert-warning" role="alert">
            Todos los campos son obligatorios
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sertec">Registrarme</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!--end modals  -->
